.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 135px;
	background-color: var(--main-background);
	&__button {
		color: var(--black);
		background-color: var(--white);
		margin: 80px 0 184px 0;
		border: none;
		box-shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.2);
		&:hover {
			background-color: var(--black);
			color: var(--white);
		}
	}
}

.categories {
	display: flex;
	justify-content: space-between;
	width: 590px;
	margin: 80px 0 75px 0;
	&--mobile {
		display: none;
	}
}

.category {
	color: var(--brown);
	font-size: 16px;
	background: transparent;
	border: none;
	cursor: pointer;
}


.products {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 370px);
	gap: 30px;
	width: 100%;
}

.product {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	height: 416px;
	border-radius: 6px;
	&__category {
		position: absolute;
		left: 48px;
		bottom: 122px;
		font-size: 16px;
		width: 84px;
		background-color: var(--white);
		border-radius: 19px;
		padding: 9px 19px 9px 16px;
		cursor: pointer;
	}
	&__name {
		position: absolute;
		left: 48px;
		bottom: 53px;
		font-size: 40px;
		font-weight: 800;
		color: var(--white);
	}
}

@media screen and (max-width: 1040px) {
	.main {
		padding: 0 23px;
	}
	.categories {
		display: none;
		&--mobile {
			display: block;
			width: 330px;
			margin: 48px 0;
			font-size: 16px;
			color: var(--brown);
			padding: 14px 16px;
			border: 1px solid var(--any);
			border-radius: 6px;
		}
	}
	.products {
		justify-items: center;
	}
	.product {
		width: 330px;
	}
}

@media screen and (min-width: 1840px) {
	.products {
		grid-template-columns: repeat(4, 370px);
	}
}