html, body {
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
}

h1 {
	margin: 70px 0 35px 0;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--white);
}

:root {
	--white: #FFF;
	--black: #28293e;
	--grey: #707070;
	--brown: #391400;
	--green: #90E149;
	--any: #F3D1BF;
	--main-background: #FDF0E9;
	--font-family: "Noto Sans", "Epilogue";
}

.button {
	font-size: 14px;
	border-radius: 5px;
	padding: 15px 40px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.category--active {
	color: var(--green);
}

.product--active {
	border: 7px solid var(--green);
}



